<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    <title>Admin Dashboard</title>
    {% endblock %}
  </head>
  <body style="height:100%;">
    <div class="container-fluid" >
      <div class="row">
	<div class="col bg-info text-light ">
	  {% include './sidebar.html' %}
	</div>

	<div class="col-12 col-sm-10">
	  
	  {% block content %}
    
	  <h1>Hello, admin!</h1>
	  {% endblock %}
	</div>
      </div>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popover.js' %}"> </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


    <script src="{% static 'js/feather.js' %}"></script>

    <!--<script src="{% static 'js/mdb.min.js' %}"></script>-->
    
    <script>



      feather.replace({'width':'18','height':'18'})


    </script>
    {% block footer %}
    {% endblock %}
  </body>
</html>
