<div class="">

  <div class="p-3 pt-0 pb-0"> <i data-feather="user"></i>
    <strong class="align-bottom ">Admin Name </strong> </div>
  
  <div class="list-group list-group-flush bg-info">

    <a href="#" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="command"></i> Dashboard
    </a>
    <a href="#" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="box"></i> Products</a>
    <a href="#" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="check-circle"></i> Category</a>
    <a href="#" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="shopping-bag"></i> Warehouse</a>
    <a href="{% url 'dashboard:site-settings' 1 %}" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="users"></i> Users </a>

    <a href="{% url 'dashboard:site-settings' 1 %}" class="list-group-item list-group-item-action bg-info text-light">
      <i data-feather="settings"></i> Settings </a>

  </div>
  
</div>
