.site-settings form {
    padding: 50px 30px;
    padding-top: 25px;
    box-shadow: 0px 0px 3px 0px;
    max-width:420px;
    
}
textarea{
    height: 120px;
    
}


input[type='text'], input[type='email'], input[type='password'], input[type='date'], textarea, input[type='file'], input , select{
    display: block;
    outline: none;
    padding: 5px;
    font-size: 14px;
    width: 350px;
    line-height: 25px;
    background: none;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 5px 7px;
}

input[type='submit'] {
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 0px 1px 1px 0px;
    width: auto;
    padding: 5px 30px;
    font-weight: bold;
    position: relative;

}
input[type='checkbox']{
    width: 15px;
}
form p label{
    font-size:14px;
    font-family: 'Monospace';
}
span.helptext{
    font-size: 12px;
}





/*
*
*
*
*/
#friend-login{
    margin: 100px auto;
    width: 420px;
    min-width: 250px;
    box-shadow: 0px 5px 10px #ccc;
    background: #fafafa;
}
#friend-login form{
    text-align: center;
}
#friend-login form p input {
    width: 100%;
}

#friend-login form p{
    text-align: left;
}

#friend-login form label{
    font-size: 13px;
    margin-bottom: 0px;
}
#friend-login form .errorlist.nonfield{
    display: none!important;
}